@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca:wght@400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  max-width: 1440px;
  height: 100vh;
  font: 15px;
  font-family: "Lexend Deca", sans-serif;
  background-color: hsl(0, 0%, 95%);
}
nav ul {
  display: flex;
  flex-flow: row;
  background-color: hsl(179, 100%, 13%);
  justify-content: space-evenly;
}
li {
  background-color: hsl(31, 77%, 52%);
  margin: 10px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}
.flex-container {
  display: flex;
  flex-flow: row wrap;
  width: 50%;
  text-align: center;
  margin: auto;
  padding: 50px;
  justify-content: center;
  align-items: center;
}

.sedans {
  flex: 33.3%;
  background-color: hsl(31, 77%, 52%);
  border-radius: 10px 0px 0px 10px;
}
.suvs {
  flex: 33.3%;
  background-color: hsl(184, 100%, 22%);
}

.luxury {
  flex: 33.3%;
  background-color: hsl(179, 100%, 13%);
  border-radius: 00px 10px 10px 0px;
}
div h2 {
  color: hsl(0, 0%, 95%);
  text-transform: uppercase;
  margin: 0 15px 15px 15px;
  font-family: "Big Shoulder Display";
  font-size: 700;
}
div p {
  color: hsla(0, 0%, 100%, 0.75);
  font-weight: 400;
  font-family: "Lexend-Deca";
  font-size: 15px;
  padding-bottom: 20px;
}
.icon {
  width: 70px;
  margin: 20px 50px 15px 0px;
}
.sedans .btn {
  color: hsl(31, 77%, 52%);
}
.suvs .btn {
  color: hsl(184, 100%, 22%);
}
.luxury .btn {
  color: hsl(179, 100%, 13%);
}
.btn {
  margin: 20px;
  background-color: hsl(0, 0%, 95%);
  border-radius: 30px;
  border: 2px solid white;
  padding: 15px 30px;
  cursor: pointer;
  outline: none;
  font-weight: 700;
  font-family: "Lexend Deca" sans-serif;
  transition: all 0.4s ease-in-out;
}
.btn:hover {
  background-color: transparent;
  color: hsl(0, 0%, 95%);
}
/* media query for desktop */
@media (max-width: 1440px) {
  main {
    flex: 90%;
  }
}
/* media query for mobile phones */
@media (min-width: 375px) {
  main {
    flex: 50%;
  }
}
